In [ ]:
import pandas as pd
import numpy as np

ipl=pd.read_csv("/content/Rohit_Sharma_IPL.csv")
ipl.head()

,Id,Date,Versus,Ground,D/N,How Dismissed,Runs,B/F,S/R,,Aggr,Avg,S/R.1
0,1,20/04/2008,Kolkata Knight Riders,Eden Gardens,✓,c †W P Saha b M Kartik,0,3,0.00,,0,0.00,0.00
1,2,22/04/2008,Delhi Capitals,Rajiv Gandhi International Stadium,✓,c G D McGrath b R Bhatia,66,36,183.33,,66,33.00,169.23
2,3,24/04/2008,Rajasthan Royals,Rajiv Gandhi International Stadium,✓,c D Salunkhe b S K Warne,36,30,120.00,,102,34.00,147.83
3,4,27/04/2008,Mumbai Indians,Dr DY Patil Sports Academy,✓,did not bat,-,-,-,,102,34.00,147.83
4,5,01/05/2008,Punjab Kings,Rajiv Gandhi International Stadium,✓,not out,76*,42,180.95,,178,59.33,160.36

In [ ]:
ipl.columns

Index(['Id', 'Date', 'Versus', 'Ground', 'D/N', 'How Dismissed', 'Runs', 'B/F',
       'S/R', ' ', 'Aggr', 'Avg', 'S/R.1'],
      dtype='object')

In [ ]:
ipl.nunique()

Id               213
Date             213
Versus            13
Ground            29
D/N                1
How Dismissed    167
Runs              91
B/F               56
S/R              142
                   1
Aggr             196
Avg              161
S/R.1            157
dtype: int64

In [ ]:
empty_cols=[col for col in ipl.columns if col==" "]
empty_cols

[' ']

In [ ]:
ipl.drop(ipl[empty_cols],axis=1,inplace=True)

In [ ]:
ipl.columns

Index(['Id', 'Date', 'Versus', 'Ground', 'D/N', 'How Dismissed', 'Runs', 'B/F',
       'S/R', 'Aggr', 'Avg', 'S/R.1'],
      dtype='object')

In [ ]:
ipl.drop(ipl[['Aggr', 'Avg', 'S/R.1']],axis=1,inplace=True)

In [ ]:
first_letter=ipl['How Dismissed'].str[0]
first_letter

0      c
1      c
2      c
3      d
4      n
      ..
208    c
209    c
210    c
211    c
212    c
Name: How Dismissed, Length: 213, dtype: object

In [ ]:
ipl[['Fielder','Bowler']]= ipl['How Dismissed'].str.split(' b |b ',n=1,expand=True)
ipl['Bowler']

0          M Kartik
1          R Bhatia
2         S K Warne
3               None
4               None
           ...
208     G J Maxwell
209    Ravi Bishnoi
210      Avesh Khan
211      C Sakariya
212     Rashid Khan
Name: Bowler, Length: 213, dtype: object

In [ ]:
ipl.dtypes

Id                int64
Date             object
Versus           object
Ground           object
D/N              object
How Dismissed    object
Runs             object
B/F              object
S/R              object
Fielder          object
Bowler           object
dtype: object

In [ ]:
ipl['Date'] = pd.to_datetime(ipl['Date'], errors='coerce')

In [ ]:
ipl['Year'] = ipl['Date'].dt.year

In [ ]:
ipl['How Dismissed'][0]

'c †W P Saha b M Kartik '

In [ ]:
ipl.head()

,Id,Date,Versus,Ground,D/N,How Dismissed,Runs,B/F,S/R,Fielder,Bowler,Year
0,1,2008-04-20,Kolkata Knight Riders,Eden Gardens,✓,c †W P Saha b M Kartik,0,3,0.00,c †W P Saha,M Kartik,2008
1,2,2008-04-22,Delhi Capitals,Rajiv Gandhi International Stadium,✓,c G D McGrath b R Bhatia,66,36,183.33,c G D McGrath,R Bhatia,2008
2,3,2008-04-24,Rajasthan Royals,Rajiv Gandhi International Stadium,✓,c D Salunkhe b S K Warne,36,30,120.00,c D Salunkhe,S K Warne,2008
3,4,2008-04-27,Mumbai Indians,Dr DY Patil Sports Academy,✓,did not bat,-,-,-,did not bat,None,2008
4,5,2008-01-05,Punjab Kings,Rajiv Gandhi International Stadium,✓,not out,76*,42,180.95,not out,None,2008

In [ ]:
ipl.columns

Index(['Id', 'Date', 'Versus', 'Ground', 'D/N', 'How Dismissed', 'Runs', 'B/F',
       'S/R', 'Fielder', 'Bowler', 'Year'],
      dtype='object')

In [ ]:
ipl['How Dismissed'][3]

'did not bat '

In [ ]:
ipl['hasBatted'] = np.where(ipl['How Dismissed']== 'did not bat ','No','Yes')

In [ ]:
ipl.drop(ipl[['Date', 'How Dismissed', 'Fielder']],axis=1,inplace=True)

In [ ]:
ipl.to_csv('IPL_Data_Cleaned.csv')

In [ ]:
ipl.head()

,Id,Versus,Ground,D/N,Runs,B/F,S/R,Bowler,Year,hasBatted
0,1,Kolkata Knight Riders,Eden Gardens,✓,0,3,0.00,M Kartik,2008,Yes
1,2,Delhi Capitals,Rajiv Gandhi International Stadium,✓,66,36,183.33,R Bhatia,2008,Yes
2,3,Rajasthan Royals,Rajiv Gandhi International Stadium,✓,36,30,120.00,S K Warne,2008,Yes
3,4,Mumbai Indians,Dr DY Patil Sports Academy,✓,-,-,-,None,2008,No
4,5,Punjab Kings,Rajiv Gandhi International Stadium,✓,76*,42,180.95,None,2008,Yes

In [ ]:

def clean_data(format,filename):
  data=pd.read_csv(filename)
  empty_cols=[col for col in data.columns if col==" "]
  data.drop(data[empty_cols],axis=1,inplace=True)  
  data.drop(data[['Aggr', 'Avg', 'S/R.1']],axis=1,inplace=True)
  data[['Fielder','Bowler']] = data['How Dismissed'].str.split(' b |b ',n=1,expand=True)
  data['Date'] = pd.to_datetime(data['Date'], errors='coerce') 
  data['Year'] = data['Date'].dt.year
  data['hasBatted'] = np.where(data['How Dismissed']== 'did not bat','No','Yes')
  data.drop(data[['Date', 'How Dismissed', 'Fielder']],axis=1,inplace=True)
  filename=format+"_Data_Cleaned.csv"
  data.to_csv(filename)

format="ODI"
filename="/content/Rohit_Sharma_ODI.csv"

In [ ]:

def clean_data(format,filename):
  data=pd.read_csv(filename)
  empty_cols=[col for col in data.columns if col==" "]
  data.drop(data[empty_cols],axis=1,inplace=True)  
  data.drop(data[['Aggr', 'Avg', 'S/R.1']],axis=1,inplace=True)
  data[['Fielder','Bowler']] = data['How Dismissed'].str.split(' b |b ',n=1,expand=True)
  data['Date'] = pd.to_datetime(data['Date'], errors='coerce') 
  data['Year'] = data['Date'].dt.year
  data['hasBatted'] = np.where(data['How Dismissed']== 'did not bat ','No','Yes')
  data.drop(data[['Date', 'How Dismissed', 'Fielder']],axis=1,inplace=True)
  filename=format+"_Data_Cleaned.csv"
  data.to_csv(filename)

format="T20"
filename="/content/Rohit_Sharma_T20.csv"

In [ ]:

def clean_data(format,filename):
  data=pd.read_csv(filename)
  empty_cols=[col for col in data.columns if col==" "]
  data.drop(data[empty_cols],axis=1,inplace=True)  
  data.drop(data[['Aggr', 'Avg', 'S/R.1']],axis=1,inplace=True)
  data[['Fielder','Bowler']] = data['How Dismissed'].str.split(' b |b ',n=1,expand=True)
  data['Date'] = pd.to_datetime(data['Date'], errors='coerce') 
  data['Year'] = data['Date'].dt.year
  data['hasBatted'] = np.where(data['How Dismissed']== 'did not bat ','No','Yes')
  data.drop(data[['Date', 'How Dismissed', 'Fielder']],axis=1,inplace=True)
  filename=format+"_Data_Cleaned.csv"
  data.to_csv(filename)

format="IPL"
filename="/content/Rohit_Sharma_IPL.csv"